/* Stylesheet */
.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 720px;
  height: 720px;
}

.grid div {
  width: 80px;
  height: 80px;
}

.ending-block {
  background-color: red;
}
.starting-block {
  background-color: blue;
}
/* .log-left,
.log-right {
  background-color: lightblue;
} */
.car-left,
.car-right {
  background-color: lightgray;
}

button { 
  padding: 15px 30px;
  border-radius: 50px;
  background-color: rgb(28, 102, 222);
  border: none;
  color: #fff;
  margin-bottom: 30px;
}

/* .character {
  background-color: green;
} */

.l1, .l2, .l3 {
  background-color: brown;
}

.l4, .l5 {
  background-color: lightblue;
}

.c1 {
  background-color: black;
}

.c2, 
.c3 {
  background-color: lightgrey;
}

.character {
  background-color: green;
}