/* Stylesheet */

body { 
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h3 { margin: 0; color: white; }

.game-controllers {
  display: flex;
  width: 720px;
  /* text-align: center; */
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#result { 
  font-size: 2rem; 
  /* position: absolute;
  bottom: 25px;
  left: 350px; */

  color: white;
}

.grass {
  background: url('images/grass.jpg') transparent;
  background-color: transparent;
  background-size: 85px 85px;
  background-blend-mode: multiply;
}
.time-session {
  font-size: 2rem; 
  /* position: absolute;
  bottom: 25px;
  right: 325px; */
  padding-left: 10%;
  color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid black;
  width: 720px;
  height: 720px;
  margin: 25px auto 0;
}

.grid div {
  width: 80px;
  height: 80px;
}

.ending-block {
  background-color: black;
}
.starting-block {
  background-color: black;
}
/* .log-left,
.log-right {
  background-color: lightblue;
} */
.car-left,
.car-right {
  background-color: lightgray;
}

button { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 20px 30px;
  border-radius: 50px;
  background-color: rgb(28, 102, 222);
  border: none;
  color: #fff;
  margin: 10px 10% 10px 10%;
  /* position: absolute;
  bottom: 0px;
  left: 45%; */
}

/* .character {
  background-color: green;
} */

.l1, .l2, .l3 {
  background: url('images/wood.jpg') transparent;
  background-color: transparent;
  background-size: 85px 85px;
  background-blend-mode: multiply;
}

.l4, .l5 {
  background: url('images/water.jpg') transparent;
  background-color: transparent;
  background-size: 85px 85px;
  background-blend-mode: multiply;
}

.c1 {
  background: url('images/yellow-car.jpg') transparent;
  background-color: transparent;
  background-size: 85px 85px;
  background-blend-mode: multiply;
}

.c2, 
.c3 {
  background-color: #7c7c7c;
}

.character {
  background: url('images/sanic-walking.gif') transparent;
  background-color: transparent;
  background-size: 85px 85px;
  background-blend-mode: multiply;
}